# gradle

.gradle/
build/classes/
build/generated/
build/libs/
build/resources/
build/tmp/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/